$bg: #ffffff;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: $bg;
}

/* #carouselExampleIndicators {
    width: 75%;
    margin: 0 auto;
} */

.card-img-top {
    max-height: 350px;
}

.card {
    width: 75%;
}

.list-group-item {
    background-color: #eda315;

    &:hover {
        background-color: #003f62;
        color: #ffffff;
    }
}

.btn-primary {
    background-color: #003f62;
}